<h1>Редактирование команды</h1>

<%= render 'form', team_request_list: team_request_list %>

<%= link_to 'Смотреть', @team, class: "action_button" %>
<%= link_to 'Назад', teams_path, class: "action_button" %>
