<nav id="top_panel">
  <ul>
    <li><%= link_to 'Описание', '#', class: 'laying', 'data-div-id': 'description' %></li>
    <li><%= link_to 'Приквел', '#',  class: 'laying', 'data-div-id': 'prequel'%></li>
    <li><%= link_to 'Задания', '#',  class: 'laying', 'data-div-id': 'tasks'%></li>
  </ul>
</nav>
