<p>Привет, <%= @team.captain.show_name %>!</p>

<p>Пользователь <%= @user.show_name %> отклонил ваше приглашение в команду "<%= @team.name %>". </p>

<p>
  --<br>
  С уважением,<br>
  команда <%= link_to 'NeFoRmat', 'http://nfr.kiev.ua' %>
</p>
