<p>Привет, <%= @user.show_name %>!</p>

<p>Вы зарегистрировались на сайте проекта NeFoRmat - <%= link_to 'nfr.kiev.ua', 'http://nfr.kiev.ua' %>. Ваш логин - <%= @user.show_name %>.<br>
Интересных Вам игр!</p>

<p>
--<br>
С уважением,<br>
команда <%= link_to 'NeFoRmat', 'http://nfr.kiev.ua' %>
</p>
