<nav id="top_nav_cr" style="top: 0px; position: absolute;">
  <ul>
    <li><%= link_to 'Список игр', creators_games_path %></li>
    <li><%= link_to 'Создать', new_creators_game_path %></li>
  </ul>
</nav>
