Привет!

<p>Приглашаем Вас принять участие в новой игре проекта NeFoRmat "<%= game.name %>", которая состоится <%= game.start_date.localtime.strftime('%d.%m.%y в %H:%M') %>.</p>

<p>Подробнее - на <%= link_to 'нашем сайте', '/' %>.</p>

<p>
  --<br>
  С уважением,<br>
  команда <%= link_to 'NeFoRmat', '/' %>
</p>
