    <nav id="top_nav" style="top: 150px; position: absolute;">
      <ul>
        <li><a href="/#wrap">О НАС</a></li>
        <li><a href="/#queststrigger">КВЕСТЫ</a></li>
        <li><a href="/#faqtrigger">FAQ</a></li>
        <li><a href="/#contactstrigger">КОНТАКТЫ</a></li>
      </ul>
    </nav>
