    <div id="about">
      <div class="contentblock">
        <h3>А вы знали, что наш город - это волшебный мир приключений?</h3>
        <h3>Он может быть пиратским островом или рыцарским замком, джунглями Амазонки или пустынями Марса. </h3>
        <h3><span style="white-space: nowrap;">И вы с друзьями в нем - главные герои.</span></h3>
        <h3>Это мир приключений и загадок, логики и удачи, эмоций и ощущений. Сделайте этот мир своим.</h3>
      </div>
    </div>
