<footer id="contacts">
    <div id="contactstrigger" class="scrolltrigger"></div>
    <div class="contentblock">
        <h1>КОНТАКТНАЯ ИНФОРМАЦИЯ</h1>
                <div class="col1 contactblock city_address city_address_kiev city_address_">
            <div><img src="/assets/pictograms/phone-ico.png" alt=""> Телефон: 
                <span style="white-space: nowrap;"><a href="tel:+380931005363">+380 63 0 777 143</a></span>
            </div>
            <div><img src="/assets/pictograms/mail-ico.png" alt=""> Email: 
                <span><a href="mailto:ty@vzaperti.com.ua">ty@vzaperti.com.ua</a></span>
            </div>
            <div><img src="/assets/pictograms/instagram-ico.png" alt=""> Instagram: <span><a href="http://instagram.com/vzaperti_ua" target="_blank">ig/vzaperti_ua</a></span></div>
            <div><img src="/assets/pictograms/vk-ico.png" alt=""> ВКонтакте: <span><a href="https://vk.com/vzaperti_ua" target="_blank">vk/vzaperti_ua</a></span></div>
            <div><img src="/assets/pictograms/fb-ico.png" alt=""> Facebook: <span><a href="https://www.facebook.com/vzapertiua" target="_blank">fb/vzapertiua</a></span></div>
        </div>
                <div class="col1 contactblock city_address city_address_dp " style="display:none">
            <div><img src="/assets/pictograms/phone-ico.png" alt=""> Телефон: 
                <span style="white-space: nowrap;"><a href="tel:+380986226962">+380 98 622 69 62</a></span>
            </div>
            <div><img src="/assets/pictograms/mail-ico.png" alt=""> Email: 
                <span><a href="mailto:dp@vzaperti.com.ua">dp@vzaperti.com.ua</a></span>
            </div>
            <div><img src="/assets/pictograms/instagram-ico.png" alt=""> Instagram: <span><a href="http://instagram.com/vzapertidp" target="_blank">ig/vzapertidp</a></span></div>
            <div><img src="/assets/pictograms/vk-ico.png" alt=""> ВКонтакте: <span><a href="https://vk.com/vzaperti_ua" target="_blank">vk/vzaperti_ua</a></span></div>
            <div><img src="/assets/pictograms/fb-ico.png" alt=""> Facebook: <span><a href="https://www.facebook.com/vzapertiua" target="_blank">fb/vzapertiua</a></span></div>
        </div>
                <div class="col1 contactblock city_address city_address_kh " style="display:none">
            <div><img src="/assets/pictograms/phone-ico.png" alt=""> Телефон: 
                <span style="white-space: nowrap;"><a href="tel:+380931005363">+380 93 100 53 63</a></span>
            </div>
            <div><img src="/assets/pictograms/mail-ico.png" alt=""> Email: 
                <span><a href="mailto:ty@vzaperti.com.ua">ty@vzaperti.com.ua</a></span>
            </div>
            <div><img src="/assets/pictograms/instagram-ico.png" alt=""> Instagram: <span><a href="http://instagram.com/vzaperti_ua" target="_blank">ig/vzaperti_ua</a></span></div>
            <div><img src="/assets/pictograms/vk-ico.png" alt=""> ВКонтакте: <span><a href="https://vk.com/vzaperti_ua" target="_blank">vk/vzaperti_ua</a></span></div>
            <div><img src="/assets/pictograms/fb-ico.png" alt=""> Facebook: <span><a href="https://www.facebook.com/vzapertiua" target="_blank">fb/vzapertiua</a></span></div>
        </div>
                <div class="col1 contactblock city_address city_address_vn " style="display:none">
            <div><img src="/assets/pictograms/phone-ico.png" alt=""> Телефон: 
                <span style="white-space: nowrap;"><a href="tel:+380931005363">+380 93 100 53 63</a></span>
            </div>
            <div><img src="/assets/pictograms/mail-ico.png" alt=""> Email: 
                <span><a href="mailto:ty@vzaperti.com.ua">ty@vzaperti.com.ua</a></span>
            </div>
            <div><img src="/assets/pictograms/instagram-ico.png" alt=""> Instagram: <span><a href="http://instagram.com/vzaperti_ua" target="_blank">ig/vzaperti_ua</a></span></div>
            <div><img src="/assets/pictograms/vk-ico.png" alt=""> ВКонтакте: <span><a href="https://vk.com/vzaperti_ua" target="_blank">vk/vzaperti_ua</a></span></div>
            <div><img src="/assets/pictograms/fb-ico.png" alt=""> Facebook: <span><a href="https://www.facebook.com/vzapertiua" target="_blank">fb/vzapertiua</a></span></div>
        </div>
                <div class="col1 contactblock city_address city_address_lv " style="display:none">
            <div><img src="/assets/pictograms/phone-ico.png" alt=""> Телефон: 
                <span style="white-space: nowrap;"><a href="tel:+380931005363">+380 93 100 53 63</a></span>
            </div>
            <div><img src="/assets/pictograms/mail-ico.png" alt=""> Email: 
                <span><a href="mailto:ty@vzaperti.com.ua">ty@vzaperti.com.ua</a></span>
            </div>
            <div><img src="/assets/pictograms/instagram-ico.png" alt=""> Instagram: <span><a href="http://instagram.com/vzaperti_ua" target="_blank">ig/vzaperti_ua</a></span></div>
            <div><img src="/assets/pictograms/vk-ico.png" alt=""> ВКонтакте: <span><a href="https://vk.com/vzaperti_ua" target="_blank">vk/vzaperti_ua</a></span></div>
            <div><img src="/assets/pictograms/fb-ico.png" alt=""> Facebook: <span><a href="https://www.facebook.com/vzapertiua" target="_blank">fb/vzapertiua</a></span></div>
        </div>
        <form method="POST" action="/contact_us" class="col2">
          <div class="col3">
                <input class="inputs" type="text" name="author" placeholder="Имя">
                <input class="inputs" type="text" name="phone" placeholder="Телефон">
                <input class="inputs" type="email" name="email" placeholder="Email">
            </div>
            <div class="col3">
                <textarea required="true" placeholder="Сообщение" name="message" rows="5" class="inputs"></textarea>
                <button type="submit" class="inputs button messages_button">&nbsp;<span class="normal">Отправить сообщение</span><span class="success">ОТПРАВЛЕНО</span><span class="error">ОШИБКА, ПОПРОБУЙТЕ ЕЩЕ РАЗ</span></button>
            </div>
        </form>
    </div>
</footer>