              <div id="faq">
                <div id="faqtrigger" class="scrolltrigger"></div>
                <div class="contentblock">
                  <h1>FAQ</h1>
                    <div class="q">1. Что это такое?</div>
                    <div class="a">Взаперти — это квест в реальной жизни. Вас с друзьями запирают в комнате, полной загадок и головоломок. Ваша цель — за один час найти способ выйти.</div>
                  
                    <div class="q">2. Что будет, если мы не успеем за час?</div>
                    <div class="a">По истечении часа комната открывается и игра останавливается. Для того, чтобы узнать, чем закончилась история, Вам придется прийти еще раз ;)</div>
                  
                    <div class="q">3. Сколько человек может принимать участие в игре?</div>
                    <div class="a">В игре принимает участие команда, которая состоит из 2-4 человек.</div>
                  
                    <div class="q">4. Как принять участие в игре?</div>
                    <div class="a">Перейдите на страничку квеста из <a href="#queststrigger">списка</a>, выберите удобную дату и время и забронируйте игру. Постарайтесь прийти за 5-10 минут до начала.</div>
                    
                    <div class="q">5. А нас пять (или больше) человек, можно ли нам играть вместе?</div>
                    <div class="a">Нет. Квест-комнаты “Взаперти” расчитаны на игру команды от 2 до 4 человек. Ecли Вас больше, рекомендуем разбиться на две команды и потом сравнить впечатления.</div>
                  
                    <div class="q">6. Сколько стоит игра?</div>
                    <div class="a">Стоимость игры составляет от 300 до 650 грн. с команды. Она зависит от формата квеста, дня недели и времени суток и <strong>не</strong> зависит от количества игроков в команде.</div>
                  
                    <div class="q">7. Нужны ли какие-то специальные знания и умения?</div>
                    <div class="a">Специальных знаний и умений для успешного прохождения игры не требуется, но Вам пригодятся внимательность и сообразительность, а также работа в команде.</div>

                    <div class="q">8. А если мы не сможем решить какую-то головоломку?</div>
                    <div class="a">Если во время игры Вы зайдете в тупик, можно попросить подсказку, и наш оператор обязательно поможет.</div>

                    <div class="q">9. Можно подарить игру в подарок?</div>
                    <div class="a">Да, игру в подарок подарить можно. Стоимость подарочного сертификата зависит от города. Позвоните нам, и мы расскажем, как его приобрести.</div>
                    
                    <div class="q">10. У меня остались еще вопросы! Что делать?</div>
                    <div class="a">Просто <a href="#contactstrigger">свяжитесь с нами</a> любым удобным Вам способом.</div>
                  </div>
              </div>
