<div class="separated">
  <span class="caption">Игроки: </span><br>
  <div style="padding: 10px;">
  <% users.each do |user|%>
      <%= link_to_user(user, can?(:exclude, user)) %>
  <% end %>
  </div>
</div>
