<h1>Редактирование пользователя</h1>

<%= render 'form', team_request_list: team_request_list %>

<%= link_to 'Смотреть', @user, class: "action_button" %>
<%= link_to 'Назад', users_path, class: "action_button" %>
