<% if game.has_prequel? %>
<div class="details prequel">
  <% if game.can_show_prequel_for?(current_user.try(:team)) %>
    <% if game.prequel.start_at <= Time.now %>
      <% done = game.prequel.is_finished_by?(current_user.team) ? '(пройден вашей командой)' : '' %>
      <%= link_to_enter_game(game, "Войти в приквел #{done}") %>
    <% else %>
      Приквел будет доступен <b><%= game.prequel.start_at.localtime.strftime('%d.%m.%y в %H:%M') %></b>
    <% end %>
  <% else %>
    Приквел доступен только для игроков команд, чьи заявки на игру приняты.<br>
    Старт приквела <b><%= game.prequel.start_at.localtime.strftime('%d.%m.%y в %H:%M') %></b>.
  <% end %>
</div>
<% end %>