<div id="games">
<% if @games.present? %>
  <h2>Анонсы игр</h2>
  <% @games.each do |game| %>
	<%= render 'games/view', game: game %>
  <% end %>
<% else %>
	<h2>Нет запланированных игр</h2>
<% end %>
</div>