<div class='zone openable_holder'>
  <div class='zone_header'>
    <%= openable_tag(zone.make_id) %>
    <%= content_tag(:span, zone.name) %>
  </div>
	<div class='openable'>
	  <% zone.tasks.by_order.each do |task| %>
		  <%= render 'tasks/item', task: task  %>
	  <% end %>
  </div>
</div>