<div class='zone openable_holder'>
  <div class='zone_header'>
    <%= image_tag(zone.image_url) if zone.image_url.present?%>
    <%= content_tag(:a, '- ', href: '#', class: 'openable') %>
    <%= content_tag(:span, zone.name) %>
  </div>
	<div class='openable'>
	  <% zone.tasks.by_order.each do |task| %>
		  <%= render 'tasks/item', task: task  %>
	  <% end %>
  </div>
</div>