<b><p style='color: red;'>
	Все ответы с кириллицей РЕГИСТРОЗАВИСИМЫЕ! Просьба проверять в разных вариантах.<br>
	Прошу прощения прощения за этот неприятный глюк.
</p></b>

<% if @zones.present? %>
  <% @zones.each do |zone|  %>
    <%=  render 'zones/item', zone: zone %>
	<% end %>
<% else %>
	 <div class='zone'>Нет доступных королевств</div>
<% end %>