// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.archive_link {
  display: inline-block;
  width:  100px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 4px #282b1f;
  -moz-box-shadow: 3px 3px 4px #282b1f;
  box-shadow: 3px 3px 4px #282b1f;
  color: white;
  text-decoration: none;
  background-color: orange;
  border-color: black;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 3px 10px 3px 0px;
}
a.archive_link:hover {
  color: darkblue;
  text-decoration: none;
  background-color: orangered;
  border-color: red;
}