// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article.game.invisible {
  opacity: .7;
}

article.game {
  display: block;
  padding: 10px;
  margin-top: 5px;

  div.details {
    padding: 5px;
    margin: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: inherit;
    border-color: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
  }
}

article.game.neformat.nedostroy {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #666666;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  color: #FFFFFF;

  a.openable:link {
    text-decoration: none;
    color: #FFFFFF;
  }
  a.openable:visited {
    text-decoration: none;
    color: #FFFFFF;
  }
  a.openable:hover
    {
    text-decoration: none;
    color: blue;
  }

  h1, h2, h3, h4 {
    color: #222222;
  }
}

article.game.neformat {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #999999;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  color: #000000;

  a.openable:link {
    text-decoration: none;
    color: #FFFFFF;
  }
  a.openable:visited {
    text-decoration: none;
    color: #FFFFFF;
  }
  a.openable:hover
    {
    text-decoration: none;
    color: blue;
  }

  h1, h2, h3, h4 {
    color: #000000;
  }
}

article.game.dozor.classic {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #000000;
  border-color: #F90;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  color: #FFFFFF;

  a.openable:link {
    text-decoration: none;
    color: #FFFFFF;
  }
  a.openable:visited {
    text-decoration: none;
    color: #FFFFFF;
  }
  a.openable:hover
    {
    text-decoration: none;
    color: #FF8600;
  }

  h1, h2, h3, h4 {
    color: #F90;
  }
}

article.game.dozor.klad {
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  background-color: #111111;
  border-color: #F90;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  color: #EEEEEE;

  a.openable:link {
    text-decoration: none;
    color: #EEEEEE;
  }
  a.openable:visited {
    text-decoration: none;
    color: #EEEEEE;
  }
  a.openable:hover
    {
    text-decoration: none;
    color: #FF8600;
  }

  h1, h2, h3, h4 {
    color: #EB0;
  }
}

article.game.dozor.lite {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #222222;
  border-color: #dcc300;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  color: #FFFFFF;

  a.openable:link
    {
    text-decoration: none;
    color: #FFFFFF;
  }
  a.openable:visited
    {
    text-decoration: none;
    color: #FFFFFF;
  }
  a.openable:hover
    {
    text-decoration: none;
    color: #FF8600;
  }

  h1, h2, h3, h4 {
    color: #F90;
  }
}

article.game.en.tochki {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #0D3B00;
  border-color: lime;
  border-width: 1px 1px 1px 1px;
  border-style: dashed;
  color: lime;

  a.openable:link
    {
    text-decoration: none;
    background-color: #0D3B00;
    color: lime;
  }
  a.openable:visited
    {
    text-decoration: none;
    background-color: #0D3B00;
    color: lime;
  }
  a.openable:hover
    {
    text-decoration: none;
    background-color: #0D3B00;
    color: #99ff90;
  }

  h1, h2, h3, h4 {
    color: #FFFFFF;
  }
}

article.game.en.cx {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #0D3B00;
  border-color: lime;
  border-width: 1px 1px 1px 1px;
  border-style: dashed;
  color: lime;

  h1, h2, h3, h4 {
    color: #FFFFFF;
  }
}

article.game.other {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: white;
  border-color: #444444;
  border-width: 1px;
  border-style: solid;
  color: orange;

  a.openable:link {
    text-decoration: none;
    color: orangered;
  }
  a.openable:visited {
    text-decoration: none;
    color: orangered;
  }
  a.openable:hover
    {
    text-decoration: none;
    color: blue;
  }

  h1, h2, h3, h4 {
    color: #222222;
  }

  div.details {
    border-color: black;
  }
}

