// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  display: inline-block;
  width: 1228px;
  margin-bottom: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #CCCCCC;
  border-color: #FFFFFF;

  background: #CCCCCC; /* Для старых браузров */
  background: -moz-linear-gradient(top, #EEEEEE, #AAAAAA); /* Firefox 3.6+ */
  /* Chrome 1-9, Safari 4-5 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEEEEE), color-stop(100%,#AAAAAA));
  /* Chrome 10+, Safari 5.1+ */
  background: -webkit-linear-gradient(top, #EEEEEE, #AAAAAA);
  background: -o-linear-gradient(top, #EEEEEE, #AAAAAA); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #EEEEEE, #AAAAAA); /* IE10 */
  background: linear-gradient(top, #EEEEEE, #AAAAAA); /* CSS3 */

  border-width: 1px 1px 1px 1px;
  border-style: solid;
}

header.logo {
  background: #444444 url(/images/logo-head.jpg) no-repeat;
  height: 100px;
}
header.logo:hover {
  background: #444444 url(/images/logo-head-c.jpg) no-repeat;
}

header.menu {
  height: 50px;
}
div.header_menu {
  width: (150 + 20 + 2)*4px; // width + margin(left+right) + border(left+right) * 5 items
  margin: 0 auto;
}

ul.header_menu {
  display: inline-block;
  margin: 0;

  li {
    display: inline-block;
    margin: 3px 10px 3px 10px;

    a {
      display: inline-block;
    }
  }
}

a.header_menu_item {
  display: inline-block;
  width:  150px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 4px #282b1f;
  -moz-box-shadow: 3px 3px 4px #282b1f;
  box-shadow: 3px 3px 4px #282b1f;
  color: #000000;
  text-decoration: none;
  background-color: #888888;
  border-color: #FFFFFF;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}
a.header_menu_item:hover {
  color: #000000;
  text-decoration: none;
  background-color: #444444;
}
a.header_menu_item:active, a.header_menu_item.selected {
  width:  148px;
  text-align: center;
  text-decoration: none;
  border-color: red;
  border-width: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
}

a.header_menu_item.selected:hover {
  background-color: #444444;
}

header.game {
  position: fixed;
  top: 0px;
  left: auto;
  height: 33px;
  font-size: 24px;

  input {
    font-size: 18px;
  }
}