// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.hint, div.hint_data {
  display: block;
  margin: 25px 5px;
  background-color: #B0B0B0;
  border-color: #000000;
  border-width: 1px;
  border-style: solid
}

span.hint_caption {
  font-weight: bold;
  font-size: 1.3em;
}