article.info {
  white-space: normal;
  display: block;
  margin: 5px;
  font-size: 16px;
  line-height: 1.5;
}

span.contact_name {
  font-size: 1.1em;
  font-weight: bold;
}

div.contact_block {
  margin: 10px;

  table {
    margin: 5px 0 0 5px;
  }
}