// Place all the styles related to the all project but not to the defined controller
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Arial, sans-serif;
  font-size:  14px;
  background-color: #444444;
}

div#center{
  display: block;
  width: 1230px;
  margin: 0 auto;
}

div.inline {
  display: inline;
}

div.inline-block {
  display: inline-block;
}

div {
  vertical-align: top;
}
section#container {
  min-width: 1250px;
}

nav, section, aside {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
}

// Game classes
aside.aside_right {
  min-height: 220px;
  max-width: 200px;
  margin-right: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #CCCCCC;
  border-color: #FFFFFF;
  border-width: 1px 1px 1px 1px;
  border-style: solid
}

section.main_content {
  min-height: 220px;
  width: 800px;
  margin-right: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #CCCCCC;
  border-color: #FFFFFF;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
}


// Site classes
aside.site_aside_right {
  min-height: 400px;
  max-width: 200px;
  margin-right: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #CCCCCC;
  border-color: #FFFFFF;
  border-width: 1px 1px 1px 1px;
  border-style: solid
}

section.site_main_content {
  min-height: 394px;
  width: 750px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #CCCCCC;
  border-color: #FFFFFF;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  margin-right: 5px;
  padding: 3px;
}

section.devise {
  display: block;
  height: 800px;

  div.content {
    min-height: 220px;
    width: 500px;
    margin: 0 auto;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #CCCCCC;
    border-color: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
  }
}

aside {
  min-width: 200px;
}

h1 {
  font-size: 1.5em;
  margin: 1px 0px 2px 0px;
}

h2 {
  font-size: 1.3em;
  margin: 1px 0px 2px 0px;
}

h3 {
  font-size: 1.2em;
  margin: 1px 0px 2px 0px;
}

section.content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #CCCCCC;
  border-color: #FFFFFF;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  padding: 10px;
  margin: 5px;

  span.content{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #CCCCCC;
    border-color: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    padding: 1px;
    margin: 1px;
  }
}

div.blitz_info {
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #f5ff64;
  border-color: red;
  border-width: 2px 2px 2px 2px;
  border-style: dotted;
  -webkit-box-shadow: 6px 6px 8px #282b1f;
  -moz-box-shadow: 6px 6px 8px #282b1f;
  box-shadow: 6px 6px 8px #282b1f;
  margin-top: 10px;
  padding: 3px;
  font-family: "Sans";
  color: #520000;
  font-size: 12px;

  li {
    height: 21px;
  }
}

.action_button {
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #000000;
  text-decoration: none;
  background-color: #AAAAAA;
  border-color: #000000;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  -webkit-box-shadow: 2px 2px 3px #282b1f;
  -moz-box-shadow: 2px 2px 3px #282b1f;
  box-shadow: 2px 2px 3px #282b1f;
  padding: 2px;
  font-weight: bold;
  margin: 5px;
}

.action_button:hover {
  background-color: #565656;
}

.action_button_min {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #000000;
  text-decoration: none;
  background-color: #AAAAAA;
  border-color: #000000;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
  padding: 0 3px 0 3px;
}

span.caption, label.caption {
  font-weight: bold;
}

div.horizontal {
  float:left;
}


label {
  display: inherit;
}


.hidden {
  display: none;
}

span.hint {
  font-family: "Times New Roman";
  font-size: 14px;
  font-style: italic;
  color: grey;
}

form.button_to, form.button_to div{
  display: inline;
}

span.warning {
  color:  red;
}

a.nav_link {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 1.4em;
  font-weight: bold;
  color: black;
  background-color: #AAAAAA;
  border-color: black;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
}

a.nav_link.refresh {
  font-style: italic;
  background-color: #00ec00;
  color: #003a00;
}

a.openable {
  text-decoration: none;
  color: blue;
}

div#log {
  width: 200px;
  margin-right: 5px;
  margin-top: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #CCCCCC;
  border-color: #FFFFFF;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
}

span.time {
  font-size: 0.6em;
  font-style: italic;
}

span.info {
  color: green;
  font-style: italic;
  font-size: 0.8em;
}

a.request_game {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.4em;
  font-weight: bold;
  -webkit-box-shadow: 3px 3px 4px #282b1f;
  -moz-box-shadow: 3px 3px 4px #282b1f;
  box-shadow: 3px 3px 4px #282b1f;
  color: white;
  background-color: #D0B000;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin-top: 2px;
  padding: 5px;

}

a.request_game:link, a.delete_game:link, a.enter_game:link {
  color: white;
}
a.request_game:visited, a.delete_game:visited, a.enter_game:visited {
  color: white;
}
a.request_game:hover, a.delete_game:hover, a.enter_game:hover {
  color: blue;
}


a.delete_game {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.4em;
  font-weight: bold;
  -webkit-box-shadow: 3px 3px 4px #282b1f;
  -moz-box-shadow: 3px 3px 4px #282b1f;
  box-shadow: 3px 3px 4px #282b1f;
  color: white;
  background-color: orangered;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin-top: 2px;
  padding: 5px;
}


a.enter_game {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.4em;
  font-weight: bold;
  -webkit-box-shadow: 3px 3px 4px #282b1f;
  -moz-box-shadow: 3px 3px 4px #282b1f;
  box-shadow: 3px 3px 4px #282b1f;
  color: white;
  background-color: orange;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin-top: 2px;
  padding: 5px;
}