table.logs {
  font-family: "Sans";
  color: #520000;
  font-size: 10px;

  td {
    border-top: 1px solid black;
  }
}

table.log_full, table.free_code {
  margin: 10px;
  border-spacing: 0px;
  border-style: none;
  background-color: #CCCCCC;

  th {
    border: 2px;
    border-color: black;
    border-style: solid;
    margin-right: 10px;
  }

  tr {
    font-size: 14px;
    td {
      border: 1px;
      border-style: solid;
      margin-right: 0px;
    }
  }
}

table.white {
  margin: 5px;
  border-spacing: 0px;
  border-style: none;
  background-color: white;

  th {
    border: 2px;
    border-color: black;
    border-style: solid;
    margin-right: 10px;
  }

  tr {
    font-size: 14px;
    td {
      border: 1px;
      border-style: solid;
      margin-right: 0px;
    }
  }
}

table.table-bordered {
  margin: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #444444;
  border-spacing: 0px;
  border-width: 1px;
  border-style: solid;
  background-color: #CCCCCC;

  th {
    border: 2px;
    border-color: #444444;
    border-style: solid;
    margin-right: 10px;
    background-color: #888888;
  }

  tr {
    font-size: 14px;
    td {
      border: 1px;
      border-color: #888888;
      border-style: solid;
      margin-right: 0px;
    }
  }
}

table td.right {
  text-align: right;
}