// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.task {
  display: block;
  margin: 5px;
  padding: 3px;
  background-color: #CCCCCC;
  border-color: #000000;
  border-width: 1px;
  border-style: solid
}

div.unavailable {
  font-size: 0.8em;
}