@charset "utf-8";
*{
 margin:0;
 padding:0;
 font-size:100%;
}

html {
	min-width:320px;
 height:100%;
 min-height:100%;
	}
body{
	font-family: 'PT Sans', sans-serif;
	color:#F0F0F0;
	background: url('pagebg_brown.jpg') #222 no-repeat center center fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width:320px;  
  min-height:100%;
}
a {
	color:#fda527;
	}
/*для устаревших браузеров*/
header,footer,nav,article,section{
 display:block;
}

#wrap{
	width: auto;
	margin:0 auto;
}

h1, h3{
	font-weight:normal;
	font-size:2em;
}

h2{
	color:#fff;
	font-weight:normal;
	font-size:2em;
}

h3{
	font-size:1.4em;
}

header{
	height:150px;
	position:relative;
	text-align:center;
   width:100%;
   min-width:320px;

}
#logo {
    width: 100%;
    margin: 0 auto;
    height: 150px;
    max-width: 380px;
    -webkit-background-size: contain;
    background-size: contain;
}
#logo img {
    width: 100%;
}

/*фиксированное плавающее меню*/
#top_nav, #top_nav_cr{
   top: 150px;
   position: absolute;
   z-index: 1000;
/*
   border-bottom:1px solid #999;
   border-top:1px solid #999;
*/
   border-bottom:1px solid #6e5646;
   border-top:1px solid #6e5646;
   width:100%;
   min-width:320px;
   height:30px;
   background:#000;
   background-image:url(menu_bg.png);
   text-align:center;
   display:block;
   padding-top:5px;
}
#top_nav ul, #top_nav_cr ul {
    height: auto;
    padding: 0px;
    display: table;
    max-width: 380px;
    margin: 0 auto;
    width: 100%;
}
#top_nav ul li, #top_nav_cr ul li {
	display: table-cell;
  text-align: center;
	font-weight:bold;
}
#top_nav a, #top_nav_cr a {
	list-style: none;
	color:#FFF;
	font-size:large;
	text-decoration:none;
	text-shadow: #444 1px 0 0px, #444 0 1px 0px, #444 -1px 0 0px, #444 0 -1px 0px;
}

#top_nav a:hover, #top_nav_cr a:hover{
	color:#CCC;
	transition: color 0.2s linear;
}
#content{
	margin-top:35px;
	display:block;
}

#content p{
	font-size:1.1em;
	margin-top:5px;
    margin-bottom: 5px;
}
#about {
	padding-top:35px;
	padding-bottom:15px;
	background-image: url(50grey.png);
	border-bottom:1px solid #6e5646;
/*
	border-bottom:1px solid #999;
*/
	text-align:center;
	}
#action {
padding-top:15px;
padding-bottom:15px;
background-image: url(80grey.png);
border-bottom:1px solid #6e5646;
text-align:center;
}
#action a {
    font-size: 25px;
    margin: 0 auto;
    max-width: 300px;
}

#quests, #faq {
	background-image: url(90grey.png);
	border-bottom:1px solid #6e5646;
/*
	border-bottom:1px solid #999;
*/
	text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;
	}
#quests {
	background-image: url(80grey.png);
}
#faq .contentblock {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    font-size: 1.2em;
  }
#faq .contentblock h1 { text-align: center }
#faq .q { 
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 20px;
  margin-bottom: 5px;
  }
#faq .q, #faq .a {
  padding-left: 20px;
  padding-right: 20px;
}
#faq .a {
    color: #eeeeee;
}
.quest_details_block {
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    width: 100%;
}
.quest_comment {
    width: 100%;
}
.quest_block.inactive_quest {
  position: relative;
  top: -20px;
}
.quest_block {
    width: 31%;
    max-width: 540px;
	display:inline-block;
	margin:10px;
	text-align:center;
	position:relative;
    background-color: black;
    }
.quest_block img {
    display:block;
    width:100%;
    height: auto;
    opacity: 0.9;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    }
.quest_name {
    opacity: 0.75;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    display: table;
    }
.quest_name span {
    display: table-cell;
    vertical-align: middle;
    line-height: 20px;
    }
.quest_city {
    opacity: 0.6;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    background-color: #fda527;
    z-index: 500;
    color: black;
    font-weight: bold;
    top: 0;
    right: 0;
    line-height: 50px;
    text-transform: uppercase;
    border-bottom-left-radius: 5px;
}
.quest_label {
    opacity: 0.6;
    font-size: 1.3em;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    z-index: 500;
    color: black;
    font-weight: bold;
    top: 0;
    line-height: 50px;
    text-transform: uppercase;
    left: 0;
    border-bottom-right-radius: 5px;
    background-color: #FF99FF;
}
.quest_name_label {
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    z-index: 500;
    color: black;
    font-weight: bold;
    top: 0;
    right: 0;
    line-height: 50px;
    border-bottom-left-radius: 5px;
    background-color: #FF99FF;
    opacity: 0.6;
    text-transform: uppercase;
}
.maps.schema img { 
    width: 100%;
}
#quests h1 {
	position: relative;
}
.city_selector {
	display: inline-block;	
	text-align: left;
	z-index: 502;
}
.city_selector.inactive {
	cursor: pointer;
}
.city_selector.inactive .city {
	display: none;
}
.city_selector.inactive .city.selected {
	display: inline;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 1px dotted white;
}
.city_selector.inactive:after {
	padding-left: 5px;
	border: 0;
	content: "▼";
	color: #fda527;
	font-size: 0.6em;
}
.city_selector.active {
	background-color: rgba(0,0,0,0.8);
	padding: 10px;
	border: 1px solid #fda527;
	border-radius: 10px;
	position: absolute;
}
.city_selector.clone { 
	visibility: hidden;
}
.city_selector.active .city { 
	display: block;
	color: white;
	text-decoration: none;
}
.city_selector.active .city.selected {
	color: #fda527;
	font-weight: bold;	
}
.city_selector.active .city:hover {
	color: #fda527;
}
.bwWrapper:hover {
    border-color: white;
}
.bwWrapper:hover img {
    opacity: 1;
    -webkit-filter: brightness(130%);
    filter: brightness(130%);
    }
.bwWrapper:hover .quest_name {
    opacity: 1;
    }
.bwWrapper:hover .quest_city {
    opacity: 0.8;
}
@media (max-width: 450px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 900px) {
    .quest_block {
        width: 80%;
        margin:20px;
        }
    }
.contentblock {
	width:100%;
	min-width:320px;
	margin:auto;
	margin-bottom: 15px;
	}
footer{
	background-color: #000;
	padding-top:20px;
	text-align:center;
    overflow: hidden;
}
footer h1{
	margin-bottom:20px;
}
footer p{
	color:#fff;
}
footer p a{
	color:#fff;
}
footer iframe {
    float:left;
}
.cont_img{
	float:left;
	border:1px solid #6e5646;
/*
	border:1px solid #999;
*/
	padding:5px;
	margin: 0 10px 5px 0;
}
#cover {
	width:100%;
	height:100%;
	background-color:#000000;
	position:fixed;
	top:0px;
	left:0px;
	z-index:9998;
	}
#loader {
	width:146px;
	height:50px;
	background-image:url(loader_cryptex.gif);
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-73px;
	margin-top:-25px;
	z-index:9999;
	}
.bwWrapper {
    border:1px solid #6e5646;
    position:relative;
    display:block;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.quest_name {
	width:100%;
	height:65px;
	position:absolute;
	bottom:0;
	background-image:url(50grey.png);
	z-index:999;
	color:#FFF;
	text-decoration:none;
	text-transform:uppercase;
  font-size: 1.2em;
	}
.inputs.quest_button {
  width: auto !important;
  font-size: 1.2em;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  margin-top: 7px;
  padding: 4px;
}
.quest_soon {
    width:100%;
    height:65px;
    line-height: 65px;
    font-size: 1.8em;
    position:absolute;
    bottom:50%;
    background-image:url(50grey.png);
    z-index:501;
    color:#FFF;
    text-transform:uppercase;
}
.contactblock div {
  margin-bottom: 10px;
}
.col2 {
    display: inline-block;
    width: 66%;
    vertical-align: top;
    }
.col3{
    display: inline-block;
    width: 49%;
    min-width: 289px;
    color: #6c6c6c;
    text-align:center;
    vertical-align: top;
    }
.col1{
	display:inline-block;
	width:33%;
	min-width:290px;
	color: #6c6c6c;
	text-align:center;
    vertical-align: top;
	}
@media (max-width: 900px) {
    .col1, .col2 {
        width: 49%;
    }
    .col3 {
        width: 100%;
    }
}
@media (max-width: 600px) {
    .col1 {
        width: 290px;
    }
    .col2 {
        width: 100%;
    }
}
.col1 img {
    position: relative;
    top: 3px;
    padding-left: 10px;
    }
.col1 div {text-align:left;}
.col1 span {color:#FFFFFF;}
.inputs {
	width: 90%!important;
	border: none;
	outline: none;
	margin: 5px;
	padding:6px;
	font-weight: 300;
	font-size: 13px;
	color: #6c6c6c;
	font-family: 'PT Sans', sans-serif;
	background: #202020;
	border-radius:5px;
	}
.inputs:hover, .inputs:active, .inputs:focus {
	background:#3a3a3a;
}
.inputs::-webkit-input-placeholder {
    color: #6c6c6c;
    text-transform: uppercase;
}

.inputs:-moz-placeholder {
    color: #6c6c6c;
    text-transform: uppercase;
}

.inputs::-moz-placeholder {
    color: #6c6c6c;
    text-transform: uppercase;
}

.inputs:-ms-input-placeholder {
    color: #6c6c6c;
    text-transform: uppercase;
}
.button {
	background: #fda527;
	color:#000;
    box-sizing: inherit;
    text-transform: uppercase;
	}
.button:hover, .button:active {
	color:#fda527;
	}
.button.loading {
    background: #fda527 url('loading16.gif') no-repeat center center;
    }
.button.success {
    background-color: #65ff65;
}
.button.error {
    background-color: #ff6565;
}
.messages_button span.success, .messages_button span.error {
    display: none; 
}
.messages_button span.normal {
    display: inline;
}
.messages_button.loading span.normal, .messages_button.error  span.normal, .messages_button.success span.normal {
    display: none;
}
.messages_button.error span.error {
    display: inline;
}
.messages_button.success  span.success {
    display: inline;
}

#quest1_big {
	background: url('quest1_bg.jpg') no-repeat center center fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
#quest2_big {
	background: url('quest2_bg.jpg') no-repeat center center fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
.collumn2 {
	display:inline-block;
	width:50%;
	min-width:320px;
	float: left;
	text-align:left;
	}
@media (max-width: 680px) {
    .collumn2 {
        width: auto;
    }
    .questdetails {
        max-width: none !important;
    }
}
.right {
	text-align:right;
	}

.floatright {
	float:right;
	}
.quest_grey_bg {
	background-image:url(80grey.png);
	padding:20px 20px;
	margin:0 10px 20px 10px;
    min-width:260px;
    position:relative;
	}
.questdetails {
	color:#CCCCCC;
	max-width:390px;
    min-width: 260px;
	}
.questdetails h3 {
  font-size: 1.6em;
}
.questdetails h3, .questdetails p {
	margin:0px; padding:0px;
	/*line-height: 15px;*/
	}
.questdetails strong {
	color:#ffffff;
	}
.quest_open_soon {
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 150px;
	font-size: 40px;
	height: 250px;
	text-align: center;
	width: 220px;
	float: right;
	}
.calendartable td, .calendartable th {
	width:30px;
	text-align:center;
	}
.daytimetable {
    width: 100%;
    }
.daytimetable td {
	width:50px;
	text-align:center;
	}
.quest_grey_bg.calendar {
	width:220px;
	float:right;
	text-align:left;
    min-width: 0;
	}
#content .calendar p {
    font-size: 1em;
}
.day_prev_month, .day_next_month {
    background-color: #222;
}
.right .quest_grey_bg {
    min-width: 0
    }
.arrow_small {
	text-decoration:none;
	color:#ffffff;
	}
.available {
	color:#FFFFFF;
	cursor:pointer;
	}
.price {
    margin:auto; 
    padding:2px; 
    padding-left: 7px;
    padding-right: 7px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;  
    border-radius: 5px;
    text-align: center;
    background-color: #202020;
}
.price-0 {
    color: #BFF7FF;
}
.price-1 {
    color: #FFBFBF;
}
.available:hover, .available:active, .available:focus, .picked {
    color:#fda527;
}
.allbusy {
	color: #888888;
	}
.prices {
    width: 100%;
    background-color: #222222;
    border-radius: 3px;
}
.prices td {
    text-align: center;
}
.comment {
	width:85%;
	padding:10px;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	text-align:left;
	font-style:italic;
	font-size:18px !important;
    min-height: 160px;
	}
.comment:hover, .comment:active, .comment:focus {
	color:#ffffff !important;
	}
.arrow {
	font-size:36px;
	}
.arrow a {
	text-decoration:none;
	color:#ffffff;
	}
.minimap {
	float:right;
	text-align:center;
	}
.minimap a {
	font-size:12px;
	}
.scrolltrigger {
  position: relative; top: -55px
}

#widgets .widget {
  width: 31%;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  min-width: 260px;
}
.widget div {
  margin: 0 auto;
}
.widget .fb-like-box {
  background: white;
}
.widget .TA_selfserveprop {
  background-color: white;
}
#widgets {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}
.static_contentblock {
	max-width: 800px;
	background-image:url(80grey.png);
	padding:20px 20px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
    min-width:260px;
    box-sizing: border-box;
}
.static_contentblock  img {
    max-width: 100%;
    display: block;
}
.static_contentblock  h2, #content .static_contentblock  p {
    margin-top: 20px;
    margin-bottom: 20px;
}
.copyright {
  background: black;
  color: #333;
  text-align: center;
}
.home_promo_block{
  text-align: left;
  width: 70%;
  border: solid 5px #fda527;
  padding: 20px;
  margin: 10px auto;
  background: black;
}

/* languages */
#language {
    background-color: #202020;
    border-radius: 5px;
    display: inline-block;
    color: #F0F0F0;
    position: absolute;
    top: 18px;
    right: 20px;
    line-height: 0;
    z-index: 1000;
}
.lang {
    transition: width 0.3s;
}
.lang.active::before {
    content: "\25C0";
    position: absolute;
    left: -15px;
}
#language.open .lang.active::before {
    display: none;
}
.lang {
    display: inline-block;
    cursor: pointer;
    width: 0px;
    height: 0px;
    text-align: center;
    overflow: hidden;
    line-height: 30px;
}
.lang:hover {
    color: #fda527;    
}
.lang.active {
    width: 45px;
    height: 30px;
}
#language.open .lang {
    display: inline-block;
    width: 45px;
    height: 30px;
}
#language.open .lang.active {
    background-color: #3a3a3a;
    border-radius: 5px;
}
@media (max-width: 520px) {
    #language {
        width: 45px;
        top: 195px;
    }
    .lang.active::before {
        content: "\25BC";
        position: absolute;
        top: 25px;
        left: 15px;
    }
    .lang {
        transition: height 0.3s;
    }
}