<p>Привет, <%= @resource.email %>!</p>

<p>Кто-то запросил смену вашего пароля. Вы можете поменять его по ссылке ниже.</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Если вы не просили этого, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не сменится пока вы не зайдёте по этой ссылке и не поменяете его сами на новый.</p>
