<p>Привет, <%= @resource.email %>!</p>

<p>Ваш аккаунт был заброкирован из-за превышения количества ошибок при попытке входа в систему.</p>

<p>Нажмите на ссылку ниже для того, чтобы разблокировать ваш аккаунт:</p>

<p><%= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, :unlock_token => @token) %></p>
