<% if @stat_result.present? %>
  <table class='log_full'>
	  <thead>
	    <th>Дом</th>
	    <% Zone.all.each do |zone| %>
	      <th><%= zone.name %></th>
		  <% end %>
	    <th>Всего</th>
	  </thead>
	  <tbody>
	  <% @stat_result.each_pair do |key, val| %>
	    <tr>
	      <td><%= Team.find(key).name %></td>
	      <% Zone.all.each do |zone| %>
	        <td><%= val[zone.id] %></td>
	      <% end %>
		    <td><%= val.values.inject(0) {|r, i| r += i} %></td>

	    </tr>
		<% end %>

	  </tbody>
  </table>
<% end %>