<div class="as_user settings">
  <div id="i_want_to_team" name="i_want_to_team" class="block_half">
    <span class="caption">Запросы в команды</span><br>
    <% if team_request_list[:from_me].present? %>
      <% team_request_list[:from_me].each do |team_request| %>
        <%= render 'team_requests/team_request', name: team_request.name_for_user, team_request_id: team_request.id, can_manage: false %>
      <% end %>
    <% else %>
      <span class="no_team_requests">Нет приглашений</span>
    <% end %>
  </div>
  <% if team_request_list[:to_me].present? %>
    <div id="requests_me_to_team" name="requests_me_to_team" class="block_half">
      <span class="caption">Меня пригласили</span>
      <% team_request_list[:to_me].each do |team_request| %>
        <%= render 'team_requests/team_request', name: team_request.name_for_user, team_request_id: team_request.id, can_manage: true %>
      <% end %>
    </div>
  <% end %>
</div>