<div class='stat'>

  <table class="log_full">
    <thead>
      <th>Задание</th>
      <th>Номер кода</th>
      <th>Мы сдали?</th>
      <th>Всего сдали</th>
    </thead>
    <tbody>
    <% data.each do |task|%>
      <% task[:codes].each do |code| %>
        <tr>
          <td><%= task[:name] %></td>
          <td><%= code[:id] %></td>
          <td><%= 'ДА' if code[:me] == 1 %></td>
          <td><%= code[:total] if code[:total] > 0 %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

</div>
