<article class="info">
  <h1>Манифест проекта NeFoRmat</h1>
  <p>Этот проект создан квестерами и для квестеров. Мы сами играем в игры и сами их пишем. Потому мы с уважением относимся и к авторам, и к игрокам.</p>
  <p>Этот проект создан для неформатных игр, которые нельзя провести на других движках. Если идея новой игры требует новую функцию, мы просто её дописываем.<br>
     Но мы можем проводить и обычные игры.</p>
  <p>Те, кто приходит играть, но не делится впечатлениями - гости NeFoRmat'a. Мы рады гостям.</p>
  <p>Те, кто приходит играть и описывает, что было хорошо, а что - плохо, - участники NeFoRmat'a. Они делают этот проект лучше, потому что мы умеем слушать.</p>
  <p>Те, кто приходит играть, отвечает на вопросы новичков, рисует что-то для сайта, тестирует и делает шифровки, пишет игры, организовывает внеигровые мероприятия - команда NeFoRmat'a. Они формируют этот проект.</p>
  <p>Каждый выбирает свою роль сам.</p>

<p>Мы открыты новым идеям и новым людям. <%= link_to 'Свяжитесь с нами', contacts_info_index_path %>, если мы можем вам помочь.</p>
</article>