<article class="">
  <h1>Наши контакты</h1>
  <%= contact('Виталий "Lightpower" Бескровный', 'O63 O777143', 'lightpower_bva', 'nfr.quest@gmail.com') %>
  <br>
  <%= contact('Света "Шпонк@" ', 'O93 28O9592', 'shpona_svetka', nil) %>

</article>