<div class="team_message">
  Стоп-игра в 01:09 ПО ВРЕМЕНИ ДВИЖКА (отображается над кнопкой "Обновить"). Движок в это время будет остановлен. Ждём вас на финише в пабе "Пивной сомелье" по адресу: ул. Голосеевская, 13А!
</div>